
.custom-header {
  position: relative;
}

.custom-header button {
  cursor: pointer;
  background-color: transparent;
  border:none;
  position: absolute;
  top: 0;
  left: -25px;
}

form [type='submit'] {
  display: block;
  margin-left: auto;
  margin-top: 10px;

}